body {
  text-align: center;
}

.game-starter h2 {
  margin-bottom: 0;
}

.game-starter .char-image.active {
  background: url(../images/Selector.png);
}

ul {
  margin-bottom: -30px;
}

ul li {
  display: inline-block;
  margin: 0 10px;
  font-size: 1.5rem;
  font-weight: bold;
}
